modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Grid Bot"

[[workflows.workflow]]
name = "Grid Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/scripts run grid-bot"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VR_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjb21wYW55IjoiZTFkNDY5MDQtMTRiNC00YzMzLTljOWEtN2FiYWRhMDlhZWM5Iiwic3ViIjoiZTFkNDY5MDQtMTRiNC00YzMzLTljOWEtN2FiYWRhMDlhZWM5IiwiYWRkcmVzcyI6IjB4MmVhMWEzNjZjZDk2YmQ1YzVkZmQxZGM1YjE4MDk5YWFkMmYyNjZjMiIsImV4cCI6MTc3NDM5NTEwOSwiaWF0IjoxNzczNzkwMzA5LCJzZXNzaW9uX2lkIjoiMzdmZjAwMDQtMTdlNS00NzYxLTgwYjUtNTk0MDdiMDQ2NzE0In0.th5MZphJBNb4FJTK-jU4srp6NahP56FNIANcDhZSePw"
CF_CLEARANCE = "SYfx2T1D5DPRwRzRKq5oiCByJ8U9uL4pX_emvZLVmq8-1773790153-1.2.1.1-0wE9s4eNadLKB38ivGXVeGEdl_5VIiwmncqUF3AwA6T5wlEy93jSz03Qfw2vf7BIhSxYw_DGJnOhYxeGzwfzp5oWkBmzVDHXZjS9MfF4TtVzgWY6EyTy7UvoHNw1XV0UT58sNKlOfBTu.0MpW3OioKw_91HLG7gGjj25Y9Osf1c9TmlvFP1th8.6nDt2f0ajc6f84.iJ5edjtf82yvw_o7o683eWaoVDxWxbDejdbpbkuu3iayo9HZNFWbCEbSA5keTyYti06_NwEBJcx8gdvJXon3_EdtaK9IAMyTnQWxOIq.2kJJjouWid7DSFUQ56vWOJllTPcxT2VkrIldRbqA"
WALLET_ADDRESS = "0x2ea1a366cd96bd5c5dfd1dc5b18099aad2f266c2"
